<main class="container">
   <div class="box-container">
    <div style="display: grid;padding: 3%;">
        <button #btn color="primary" class="grid-item" >Add Video Tap</button>
    </div>
    <div class="card" style="width: 18rem;">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Video Tap</mat-card-title>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <div>
                <ul id="elContainer"> </ul>  
              </div>
            </mat-card-content>
          </mat-card>
      </div>

 </div>
</main>